<div class="container mb-4" data-aos="fade-right">
    <h1 class="text-center p-3 font-amatic">About me !</h1>
    <ul class="nav h2 text-center font-weight-bold font-sacramento" id="aboutme_nav">
        <li class="nav-item" id="about-0" data-target="#aboutCarousel" data-slide-to="0">
            Intro
        </li>
        <li class="nav-item" id="about-1" data-target="#aboutCarousel" data-slide-to="1">
            Skills
        </li>
        <li class="nav-item" id="about-2" data-target="#aboutCarousel" data-slide-to="2">
            Details
        </li>
        <!-- <li class="nav-item" id="about-3" data-target="#aboutCarousel" data-slide-to="3">
            Work
        </li> -->
    </ul>
    <div id="aboutCarousel" class="carousel slide mt-3" data-ride="carousel" data-interval="5000">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row p-2" id="first-slide">
                    <div class="col-lg-8 col-sm-12 font-dancing h4 p-3">
                        <p class='text-justify'>
                            <span class="px-4"></span>I am a computer programmer surrounded by an excellent team of engineers obsessed in in-house development of sensors striving to make sense out of intangible.
                        </p>
                        <p class="text-justify">
                            <span class="px-4"></span>My work mainly focuses in handling bits & bytes of lumpsum data, Developing UserInterfaces & Libraries to make the best use of computer machines in reducing the manual hours by automating plausible tasks.
                        </p>
                        <p class="text-justify">
                            <span class="px-4"></span>I am born on 321<sup>st</sup> day of 1991, Sunday at largest Mirchi town of Andhra Pradesh and presently residing in holy town of Lord Balaji.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center">
                        <img src="/assets/images/kasol_lookup_crop.JPG" class="rounded border-thick-red" width="300" height="350" alt="looking up image">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row p-2">
                    <div class="col-lg-7 col-sm-12 font-dancing">
                        <p class="h4 font-dancing">
                            <span class="px-4"></span>As a self taught programmer learning code the hard way; I am trained to write 5 languages by code and speak 7 languages by code. here are some of the credits of my skill set.
                            <ul class="h5 font-dancing skill_ul">
                                <li>
                                    <strong class="text-danger h5">Python :</strong> for implementing utilities out of scientific journals and Command line utilities.
                                </li>
                                <li>
                                    <strong class="text-danger h5">Matlab :</strong> customisable plotting utilites helps in generating journal standard plots.
                                </li>
                                <li>
                                    <strong class="text-danger h5">Nodejs :</strong> Asynchronous execution helps in making front-end and back-end web applications
                                </li>
                                <li>
                                    <strong class="text-danger h5">HTML, CSS, Js :</strong> for developing responsive front-end applications. <em>Bootstrap</em> for laying out pages.
                                </li>
                                <li>
                                    <strong class="text-danger h5">Platforms :</strong> Linux, Windows & command line tools.
                                </li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-lg-5 col-sm-12 text-center">
                        <img src="/assets/images/side_look_crop.jpg" class="rounded-circle border-thick-blue" widht="300" height="350" alt="picture not yet decided">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row p-2">
                    <div class="col-lg-8 col-sm-12">

                    </div>
                    <div class="col-lg-4 col-sm-12 text-center">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <!--
            <div class="carousel-item">
                <div class="row p-2">
                    <div class="col-lg-8 col-sm-12">
                        <p class="work_p">
                            Soon to be updated ...
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12 text-center">
                        <img src="/assets/images/buddha_laptop.jpg" class="rounded border-thick-black" width="300" height="350" alt="meditating buddha before laptop">
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>
