<footer class="page-footer" id="contact">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">
                    Additional information
                </h6>
                <p>irure quem cillum nisi elit elit velit noster illum noster</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">
                    Contact Info
                </h6>
                <p>
                    quem dolore tempor dolore sint
                </p>
            </div>
        </div>
        <div class="footer-copyright text-center my-3">The information provided here are correct upto my knowledge - jeldikk</div>
    </div>
</footer>
