<header class="page-header header container-fluid mb-4">

    <div class="overlay">

    </div>
    <div class="description" data-aos="fade-up" data-aos-duration="3000">
        <p class="landing-iam">Hola !, Myself</p>
        <span class="display-4">
            <pre class="text-light">J. K A M A L  K U M A R</pre>
        </span>
        <hr class="landing-hr"/>
        <div class="skill_row h5 font-amatic">
            Programmer -
            <!-- {% include booty_grow.html %} -->
            Web Developer -
            <!-- {% include booty_grow.html %} -->
            Engineer -
            <!-- {% include booty_grow.html %} -->
            Photography
            <!-- {% include booty_grow.html %} -->
        </div>

    </div>
</header>
