<header class="page-header header container-fluid mb-4">

    <div class="overlay">

    </div>
    <div class="description d-none d-lg-block" data-aos="fade-up" data-aos-duration="3000">
        <p class="landing-iam font-amatic">Hola !, Myself</p>
        <span class="display-4">
            <pre class="text-light">J. K A M A L  K U M A R</pre>
        </span>
        <hr class="landing-hr"/>
        <div class="skill_row h5 font-amatic">
            Programmer -
            <!-- {% include booty_grow.html %} -->
            Web Developer -
            <!-- {% include booty_grow.html %} -->
            Engineer -
            <!-- {% include booty_grow.html %} -->
            Photography
            <!-- {% include booty_grow.html %} -->
        </div>
    </div>
    <div class="small-screen-description d-block d-lg-none" data-aos="fade-in" data-aos-duration="3000">
        <div class="container">
            <div class="row">
                <span class="col-12 display-4 mb-4 font-amatic">
                    Hola !, I am
                </span>
                <span class="col-12 display-3  ">
                    <pre class="text-uppercase text-light">J. kamal kumar</pre>
                </span>
                <hr class="landing-hr">
                <div class="col-12 font-amatic h1">
                    <span class="d-block my-4" data-aos="fade-right" data-aos-duration="3000">
                        {% include booty_grow.html %} Programmer
                    </span>
                    <span class="d-block my-4" data-aos="fade-left" data-aos-duration="3000">
                        {% include booty_grow.html %} Web developer
                    </span>
                    <span class="d-block my-4" data-aos="fade-right" data-aos-duration="3000">
                        {% include booty_grow.html %} Engineer
                    </span>
                    <span class="d-block my-4" data-aos="fade-left" data-aos-duration="3000">
                        {% include booty_grow.html %} Photography
                    </span>
                </div>

            </div>
        </div>

    </div>
</header>
