.font-amatic {
    font-family : 'Amatic SC', cursive
}

.font-dancing {
    font-family : 'Dancing Script', cursive;
}

.font-comic{
    font-family : 'Comic Neue', cursive;
}

.font-sacramento{
    font-family: 'Sacramento', cursive;
}
